body{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: bisque;
}

.container{
    text-align: center;
    background-color: aliceblue;
    margin-top: 150px;
    padding: 20px;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid red;
    box-shadow: 0 4px 8px;
}

.random{
    margin-top: 50px;
}

input{
    padding: 4px;
    font-size: 15px;
    font-weight: bold;
}

button{
    padding: 5px 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    color: white;
    cursor: pointer;   
}

button:hover{
    background-color: rgb(160, 50, 50);
}

.result{
    margin-top: 20px;
    padding: 10px;
}